<!DOCTYPE html>
<html>
<head>
    <title>About Me</title>
</head>
<body>
    <h1>Pantleo, Laura</h1>
    <p>Three interesting facts about me are: 1) I speak 6 languages, 2) I'm a CSCI, Studio Arts and Japanese major, and 3) I cosplay. I'm studying computer science with my other majors because my dream is to be a game designer at Nintendo in Japan.</p>
    <h2>My Professional Profile</h2>
    <p> Link to github: </p>
    <p>
        <a href="https://github.com/gojirakid"> Laura's Github </a>
    </p>
    <img src="https://scontent.fapa1-1.fna.fbcdn.net/v/t1.0-9/s960x960/33207308_1634816549950999_8858635532813467648_o.jpg?_nc_cat=101&_nc_sid=85a577&_nc_oc=AQnFU2VrLPTolMWMpsnWInxjbtx-4iUOzwCM63SDzEk5BRdTYHmvLEeY4jbUlFx0OBJkrHRwsdSF0m17eRPR7uhl&_nc_ht=scontent.fapa1-1.fna&_nc_tp=7&oh=41dc8f6c085f3dbdf4c2ffec05465f81&oe=5F1AF97B" alt="https://www.facebook.com/photo.php?fbid=1634816543284333&set=a.112409838858352&type=3&theater" style="width:500px;height:500px;">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
            text-align: left;
        }
    </style>
    <h3>My Favorite Projects</h3>
    <p>To add a caption to a table, use the caption tag.</p>

    <table style="width:100%">
        <tr>
            <th>Name of the Project</th>
            <th>Technologies Used </th>
        </tr>
        <tr>
            <td>Pokemon</td>
            <td>C++</td>
        </tr>
        <tr>
            <td>Dva Gun Render</td>
            <td>Rhino, Javascript, Grasshopper</td>
        </tr>
        <tr>
            <td>KabukiGame</td>
            <td>C++</td>
        </tr>
    </table>
    <br>
    <h3>Interests</h3>
    <ul>
        <li>Comics</li>
        <li>Video games</li>
        <li>Sewing</li>
    </ul>
</body>

</html>